<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <div class="mb32">
    <h4 class="mb16">Личная информация</h4>
    <div class="inputs-group two-columns">
      <div>
        <label>
          Имя
          <input
            formControlName="name"
            type="text"
            class="tt-input"
            placeholder="Введите имя"
          />
        </label>
        @if (form.controls.name.touched &&
        form.controls.name.hasError('required')) {
        <div class="error-text">Это поле обязательно</div>
        }
      </div>

      <div>
        <label>
          Фамилия
          <input
            formControlName="lastName"
            type="text"
            class="tt-input"
            placeholder="Введите фамилию"
          />
        </label>
        @if (form.controls.lastName.touched &&
        form.controls.lastName.hasError('required')) {
        <div class="error-text">Это поле обязательно</div>
        }
      </div>

      <label>
        Отчество
        <input
          formControlName="patronymic"
          type="text"
          class="tt-input"
          placeholder="Введите фамилию"
        />
      </label>

      <div>
        <label>
          Телефон
          <input
            formControlName="phone"
            type="tel"
            class="tt-input"
            placeholder="Введите телефон"
          />
        </label>
        @if (form.controls.phone.touched &&
        form.controls.phone.hasError('required')) {
        <div class="error-text">Это поле обязательно</div>
        }
      </div>
    </div>
  </div>

  <div class="mb32">
    <h4 class="mb16">Образование</h4>

    <div class="inputs-group" formGroupName="education">
      <div>
        <label>
          Учебное заведение
          <input
            formControlName="school"
            type="text"
            class="tt-input"
            placeholder="Введите название учебного заведения"
          />
        </label>
        @if (form.controls.education.controls.school.touched &&
        form.controls.education.controls.school.hasError('required')) {
        <div class="error-text">Это поле обязательно</div>
        }
      </div>

      <div>
        <label>
          Факультет
          <input
            formControlName="faculty"
            type="text"
            class="tt-input"
            placeholder="Введите факультет"
          />
        </label>
        @if (form.controls.education.controls.faculty.touched &&
        form.controls.education.controls.faculty.hasError('required')) {
        <div class="error-text">Это поле обязательно</div>
        }
      </div>

      <div>
        <label>
          Направление подготовки
          <input
            formControlName="major"
            type="text"
            class="tt-input"
            placeholder="Введите направление подготовки"
          />
        </label>
        @if (form.controls.education.controls.major.touched &&
        form.controls.education.controls.major.hasError('required')) {
        <div class="error-text">Это поле обязательно</div>
        }
      </div>
    </div>
  </div>

  <div class="mb32">
    <div class="add-form-block">
      <h4 class="mb8">Стажировка</h4>
      <button type="button" class="btn plus-btn" (click)="addInternship()">
        +
      </button>
    </div>
    <p class="small-text mb16">
      Вы можете участвовать в конкурсе сразу не несколько стажировок
    </p>

    @for (internship of form.controls.internships.controls; track internship;
    let i = $index) {
    <div class="inputs-group mb32" [formGroup]="internship">
      <div>
        <label>
          Направление стажировки
          <select formControlName="specialization" class="tt-input">
            <option value="" disabled selected class="select-placeholder">
              Выберите направление
            </option>

            @for (specialization of internshipsList; track specialization.value)
            {
            <option [value]="specialization.value">
              {{ specialization.name }}
            </option>
            }
          </select>
        </label>
        @if
        (form.controls.internships.controls.at(i)?.controls?.specialization?.touched
        &&
        form.controls.internships.controls.at(i)?.controls?.specialization?.hasError('required'))
        {
        <div class="error-text">Это поле обязательно</div>
        }
      </div>

      <div>
        <label>
          Профессия
          <select formControlName="profession" class="tt-input">
            <option value="" disabled selected class="select-placeholder">
              Выберите профессию
            </option>

            @for (profession of commonInternshipsList[i].professions; track
            profession.value) {
            <option [value]="profession.value">{{ profession.name }}</option>
            }
          </select>
        </label>
        @if
        (form.controls.internships.controls.at(i)?.controls?.profession?.touched
        &&
        form.controls.internships.controls.at(i)?.controls?.profession?.hasError('required'))
        {
        <div class="error-text">Это поле обязательно</div>
        }
      </div>

      @if (this.form.controls.internships.length > 1) {
      <button (click)="removeInternship($index)" type="button" class="btn">
        Удалить
      </button>
      }
    </div>
    }
  </div>

  <button class="btn">Отправить</button>
</form>
