@if (profile(); as profile) {
  <app-avatar-circle
    [avatarUrl]="profile.avatarUrl"
  ></app-avatar-circle>
}

<app-main-textarea
  [text]="text"
  [placeholder]="placeholder()"
  (inputText)="onTextareaInput($event)"
  rows="1"
></app-main-textarea>

<div class="emojis" [class.opened]="isEmojiOpened">
  <div class="emoji-rows" (click)="onClickSmile($event)">
    <div class="emoji-row">
      <span>😃</span>
      <span>😁</span>
      <span>😅</span>
      <span>🤣</span>
      <span>😉</span>
    </div>
    <div class="emoji-row">
      <span>😊</span>
      <span>😇</span>
      <span>😲</span>
      <span>🥰</span>
      <span>😳</span>
    </div>
    <div class="emoji-row">
      <span>😥</span>
      <span>😍</span>
      <span>😘</span>
      <span>😜</span>
      <span>🤤</span>
    </div>
  </div>
  <svg icon="emojis" class="emojis-icon svg16 no-select" (click)="onOpenEmojiList()"></svg>
</div>

<button class="btn btn-icon" (click)="onCreate()">
  <svg icon="send-message" class="svg16"></svg>
</button>
